.countdown {
  padding: 1rem;
  border: 1px dotted grey;
  border-radius: 8px;
  width: max-content;
  margin: 1rem auto;
}

.countdown-out {
  text-align: center;
  font-family: monospace;
  font-size: 300%;
  font-weight: bold;
  padding: 1rem;
}

.countdown-button-list {
  text-align: center;
  padding: 0.5rem;
  justify-content: space-between;
}

.countdown-name {
  color: red;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  padding: auto;
}
