.counter {
  padding: 1rem;
  border: 1px dotted grey;
  border-radius: 8px;
  width: max-content;
  margin: 1rem auto;
}

.counter-out {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

.counter-button-list {
  text-align: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.counter-name {
  color: red;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  padding: auto;
}