/* ミニ課題用 CSS定義 */
/* ここから */
.separator {
  height: 0.5rem;
  margin: 0 0 0.5rem 0;
  border-bottom: 2px solid blue;
}

.itemize .item::before {
  content: "\2022";
  padding: 0 0.5rem;
  display: inline-block;
}

.itemize .item {
  margin: 1rem 0 1rem 1.5rem;
}

.itemize .item:hover {
  color: red;
  text-decoration: underline;
}

.table {
  display: flex;
  flex-direction: column;
}

.table .cells {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.table .cell {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table .cell:nth-child(1) {
  width: 40%;
}

.table .cell:nth-child(2) {
  width: 60%;
}

.table .header {
  background-color: grey;
  color: white;
  font-weight: bold;
}

.table {
  height: 12rem;
}

.table {
  border-top: 1px solid gray;
}

.table .cell {
  border-bottom: 1px solid black;
}

.table .cells:nth-child(1) .cell {
  border-bottom: 1px solid gray;
}

.table-transposed {
  display: flex;
  flex-direction: row;
  height: 12rem;
  border-left: 1px solid grey;
}

.table-transposed .cells {
  display: flex;
  flex-direction: column;
  border-right: 1px solid grey;
}

.table-transposed .cell:nth-child(1) {
  height: 40%;
}

.table-transposed .cell:nth-child(2) {
  height: 60%;
}



.button-list {
  text-align: center;
}

/* ここまで */