.stopwatch {
  padding: 1rem;
  border: 1px dotted grey;
  border-radius: 8px;
  width: max-content;
  margin: auto;
}

.stopwatch-out {
  text-align: center;
  font-family: monospace;
  font-size: 370%;
  font-weight: bold;
}

.stopwatch-lap-entry {
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  font-weight: bold;
  padding: 0.2rem;
}

.stopwatch-lap-entry .stopwatch-lap-num {
  width: 1rem;
  text-align: right;
}

.stopwatch-button-list {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}