.todolist {
  padding: 0.8rem;
  margin: auto;
  border: 1px dotted gray;
  border-radius: 8px;
}

.todolist .todolist-title {
  font-weight: bold;
  font-size: 120%;
  padding: 0 0 0.5rem 0;
}

.todolist .todolist-task-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.todolist .todolist-task {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted gray;
  border-radius: 8px;
  gap: 0.1rem;
  padding: 0 0 0 0;
}

.todolist .todolist-task>button {
  flex: 0 0 3rem;
}

.todolist .todolist-task .todolist-completed {
  flex: 0 0 2rem;
  text-align: center;
}

.todolist .todolist-task .todolist-description {
  flex: 1 0 auto;
}

.todolist .todolist-task .todolist-done {
  text-decoration: line-through;
}

.todolist .todolist-task-input {
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
  padding: 0.5rem 0 0rem 0;
}

.todolist .todolist-task-input>input[type="text"] {
  flex: 1 0;
  font-size: 100%;
}

.todolist .todolist-task-input>button {
  flex: 0 0 3rem;
}